<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bibizhaoji.bibiji"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="20" />

    <application
        android:name="com.bibizhaoji.bibiji.MyApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:theme="@style/AppTheme" >

        <!-- === Activities === -->
        <activity
            android:name="com.bibizhaoji.bibiji.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bibizhaoji.bibiji.LockScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBar" >
        </activity>

        <!-- === Services === -->
        <service 
            android:name="com.bibizhaoji.bibiji.MediaButtonListenerService" >
        </service>
        <service 
            android:name="com.bibizhaoji.pocketsphinx.PocketSphinxService">
        </service>
        
        <service 
            android:name="com.bibizhaoji.pocketsphinx.WorkerRemoteRecognizerService">
            <intent-filter>
                <action android:name="com.bibizhaoji.action.CONNECT_TO_SERVICE" />
            </intent-filter>
        </service>
        
        <service 
            android:name="com.bibizhaoji.bibiji.ClientAccSensorService">
        </service>
        
        <!-- === Receivers === -->
        <receiver android:name="com.bibizhaoji.bibiji.MediaButtonListener" >
            <intent-filter android:priority="1000" >
                <action android:name="android.bluetooth.headset.profile.action.AUDIO_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.bibizhaoji.bibiji.ScreenBroadcastReceiver"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>